fastapi
uvicorn[standard]
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
sqlalchemy[asyncio]
alembic
asyncpg
python-dotenv
aiofiles
filetype

# Testing
pytest
pytest-asyncio
httpx
aiosqlite
websockets